.score {
    padding: 20px;
    font-family: 'Seaweed Script', cursive;
    font-size: 2rem;
    text-align: center;
}

@media (max-width: 960px) {
    .score {
        font-size: 2rem;
    } 
}

@media (max-width: 620px) {
    .score {
        font-size: 2rem;
    } 
}